.popup {
  height: 400px;
}

.buttomRow {
  border-top: 1px solid #BBB;
  text-align: right;
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin: 0;
}

.body {
  position: relative;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  padding: 0 80px;
}

.body img {
  margin: 30px 150px;
  width: 200px;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .body {
    padding: 0 10px;
    font-size: 14px;
  }
}
