.image-gallery-2 {
  display: inline-block;
  padding: 30px 0;
}

.image-gallery-2-items-container {
  padding: 30px 0;
  display: inline-block;
}

.image-gallery-2-items {
  float: left;
  width: 580px;
  height: 240px;
  overflow: hidden;
  margin: 10px;
}

.image-gallery-2-items:first-child,
.image-gallery-2-items:last-child {
  width: 340px;
}
