.textFieldContainer {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  font-size: 16px;
}

.textField {
  position: relative;
}

.textField > div {
  width: 100% !important;
}

.textField > svg {
  position: absolute;
  top: 15px;
  left: 3px;
  font-size: 20px;
  color: #999;
}

.textField input,
.textField > div > div:first-child {
  text-indent: 30px;
  font-size: 14px;
  font-family: Lato;
}

.passwordField {
  position: relative;
}

.help {
  display: block;
  width: 20px;
  height: 30px;
  position: absolute;
  right: -5px;
  top: 15px;
  cursor: pointer;
}

.helpText {
  display: none;
  position: absolute;
  width: 300px;
  right: 5px;
  top: -50px;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  color: #FFF;
  font-size: 12px;
  border-radius: 3px;
}

.help:hover .helpText {
  display: block;
}
