.toggleIcon {
  display: none;
}

@media screen and (max-width: 786px) {
  .toggleIcon {
    display: block;
  }

  .menuList {
    display: none;
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    width: 200px;
  }

  .menuList button {
    width: 100%;
  }

  .menuList > button > div > span {
    color: #333 !important;
  }

  .isOpen .menuList {
    display: block;
  }
}
