.container {
  width: 100%;
  text-align: left;
  font-family: Montserrat !important;
  position: relative;
}

.container label {
  color: #333;
  font-weight: 600;
  font-size: 0.85em !important;
  display: inline-block;
  text-transform: capitalize;
}

.container .textField {
  width: 100% !important;
}

.container .textField input {
  font-size: 0.85em !important;
  font-weight: 400 !important;
  color: #333;
}

.muiContainer {
  position: relative;
}

.muiContainer > div {
  width: 100% !important;
}

.loading {
  position: absolute;
  top: 15px;
  right: 0;
  animation: spin 1s infinite steps(8);
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
