.opening-hours-2 .image,
.opening-hours-8 .image {
  padding: 0;
}

.opening-hours-2 .opening,
.opening-hours-8 .opening {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  overflow: auto;
}

.opening-hours-2 .opening {
  right: 50%;
}

.opening-hours-8 .opening {
  left: 50%;
}

.opening-hours-2 .row-spacial {
  position: relative;
}
