.container {
  background: #FFF;
  padding: 25px;
  box-shadow: 0 1px 1px #EEE;
}

.container table {
  width: 100%;
  margin: 15px 0;
}

.container table tr th {
  background: #FAFAFA;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 3px solid #DDD;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 10px;
}

.container td {
  border-bottom: 1px solid #EBEBEB;
  font-size: 12px;
  padding: 10px;
}

.container td button {
  color: #107DB6;
}

@media print {
  .container {
    box-shadow: none;
    padding: 0;
  }
}
