.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1101;
}

.box {
  font-family: Lato;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 1100px;
  margin-left: -550px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  padding: 70px 0 0;
  margin-bottom: 50px;
}

.titleBox {
  background: #107DB8;
  font-family: Lato;
  color: #FFFEFF;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: left;
  font-size: 16px;
  padding: 12px 20px;
}

.body {
  padding: 0 15px;
}

.closeButton {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.form input {
  border-bottom: 1px solid #333;
}

.buttonFooter {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
}

.buttonFooter button {
  background: #0681BA;
  margin: 10px 0;
  padding: 12px 50px;
  color: #FFF;
  font-family: Lato;
  border-radius: 3px;
  font-size: 14px;
}

.buttonFooter button:disabled {
  opacity: 0.5;
}

.buttonFooter .cancelButton {
  background: #E48E32;
  margin-left: 20px;
}

.existingUserMessage {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .box {
    width: 768px;
    margin-left: -384px;
  }
}

@media screen and (max-width: 768px) {
  .background {
    position: absolute;
    height: 3244px;
  }

  .box {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    margin-left: 0;
    width: auto;
    border-radius: 3px;
    padding: 50px 0 0;
    margin-bottom: 50px;
  }

  .body {
    margin-top: 15px;
  }
}
